.App {
  display: grid;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-template-columns: 20rem 1fr;
  grid-template-areas: 
    'header header header header header'
    'StateList CardContainer CardContainer CardContainer Map'
    'footer footer footer footer footer';
  text-align: center;
  width: 100%;
}

.App-header-container {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  grid-area: header;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.App-footer-container {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  grid-area: footer;
  height: 8rem;
  justify-content: center;  
}

.Map {
  background-color: #0000CD;
  color: white;
  grid-area: Map;
  height: 17rem;
  justify-items: center;
  margin: 2rem 4rem 0 0;
  width: 17rem;
}
